@page "/"
@using Wasm.Offcanvas.Test.Components

<PageTitle>Home</PageTitle>

<h1>Wasm Offcanvas</h1>

<button class="btn btn-primary" @onclick="CreateStart">
    Create Offcanvas Start
</button>
<button class="btn btn-primary" @onclick="CreateEnd">
    Create Offcanvas End
</button>
<button class="btn btn-primary" @onclick="CreateTop">
    Create Offcanvas Top
</button>
<button class="btn btn-primary" @onclick="CreateBottom">
    Create Offcanvas Bottom
</button>

@inject IOffcanvasManager OffcanvasManager
@code {

    private async Task CreateStart()
    {
        await OffcanvasManager.CreateOffcanvasAsync<TestContent1>(OffcanvasPosition.Start,"Offcanvas Start");
    }
    
    private async Task CreateEnd()
    {
        await OffcanvasManager.CreateOffcanvasAsync<TestContent2>(OffcanvasPosition.End, "Offcanvas End");
    }
    
    private async Task CreateTop()
    {
        await OffcanvasManager.CreateOffcanvasAsync<TestContent3>(OffcanvasPosition.Top,"Offcanvas Top");
    }
    
    private async Task CreateBottom()
    {
        await OffcanvasManager.CreateOffcanvasAsync<TestContent3>(OffcanvasPosition.Bottom,"Offcanvas Bottom");
    }

}